/* Importing Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Defining Custome Variables */
:root {
    /* Colors */
    --primary-color: #160b03;
    --secondary-color: #f3961c;
    --dark-color: #252525;
    --white-color: #fff;
    --light-gray-color: #f2f2f2;

    /* Site Max-Width */
    --site-max-width: 1300px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--white-color);
}

/* Setting for the whole website */
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.section_container {
    margin: 0 auto;
    max-width: var(--site-max-width);
}

.section_title {
    text-align: center;
    padding: 60px 0 100px;
    font-size: 32px;
    font-family: "Righteous", sans-serif;
    text-transform: uppercase;
}

.section_title::after {
    content: '';
    width: 80px;
    background: var(--secondary-color);
    height: 5px;
    display: block;
    margin: 7px auto 0;
    border-radius: 8px;
}

/* Styling for the header section */
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background: var(--primary-color);
}

nav {
    display: flex;
    padding: 15px 0 15px 20px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: var(--site-max-width);
}

nav .nav_logo a {
    display: flex;
    gap: 15px;
    align-items: center;
}

nav .nav_logo a img {
    max-width: 55px;
}

nav .nav_logo h2 {
    letter-spacing: 12px;
    color: var(--white-color);
    font-weight: 600;
    font-size: 32px;
}





nav ul {
    display: flex;
    gap: 10px;
}

nav ul li a {
    display: block;
    padding: 10px 25px;
    font-size: 18px;
    font-weight: 500;
    color: var(--white-color);
    border-radius: 30px;
    transition: all 0.2s ease;
}

nav ul li a:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

nav label {
    font-size: 32px;
    color: var(--white-color);
    cursor: pointer;
}

label .menu_btn,
label .close_btn {
    display: none;
}

#click {
    display: none;
}

/* Hero Section */
.hero_section {
    min-height: 75vh;
    background-image: url("../images/darkgreen.png");
    background-size: cover;     
    background-repeat: no-repeat; 
    background-position: center;
    border-radius: 20px;
    margin-top: 60px;
}

.hero_container {
    display: flex;
    gap: 20px;
    padding: 20px;
    align-items: center;
    padding-top: 85px;
    min-height: calc(100vh - 85px);
    justify-content: space-between;
}

.hero_container .text_section h2 {
    font-size: 40px;
    color: var(--secondary-color);
}

.hero_container .text_section h3 {
    font-size: 35px;
    font-weight: 600;
    color: var(--white-color);
    margin-top: 8px;
}

.hero_container .text_section p {
    font-size: 20px;
    font-weight: 400;
    color: var(--white-color);
    margin: 24px 0 40px;
    max-width: 70%;
}

.hero_container .hero_section_button {
    display: flex;
    gap: 24px;
}

.hero_container .hero_section_button .button {

    background-image: linear-gradient(to right, #16A085 0%, #F4D03F  51%, #16A085  100%)}
         .button {
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;  
            cursor: pointer;          
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
            transition: background-image 0.3s ease transform 0.2s ease;
    /*
    padding: 8px 28px;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    background: var(--secondary-color);
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 600;
    transition: all 0.4s ease;*/
}

.hero_container .hero_section_button .button:last-child {

    background-image: linear-gradient(to right, #F09819 0%, #EDDE5D  51%, #F09819  100%)}
         .button {
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white; 
            cursor: pointer;           
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
            transition: background-image 0.3s ease transform 0.2s ease;

    /*
    color: var(--white-color);
    border-color: var(--white-color);
    background: none;
    */
}

.hero_container .hero_section_button .button:first-child:hover {


            background-position: right center;
            color: #fff;
            text-decoration: none;
            transform: scale(1.05);
    /*
    color: var(--white-color);
    background: transparent;
    border-color: var(--white-color);
    */
}

.hero_container .hero_section_button .button:last-child:hover {


            background-position: right center; 
            color: #fff;
            text-decoration: none;
            transform: scale(1.05);
    /*
    color: var(--primary-color);
    background: var(--secondary-color);
    border-color: var(--secondary-color);
    */
}

.hero_container .image_section {
    max-width: 45%;
}

.hero_container .image_section img {
    width: 100%;
    border-radius: 10px;
}

/* About Us Section */
.about_us {
    padding: 60px 20px 120px;
    background: var(--light-gray-color);

}

.about_container {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center; 
}

.about_container .text_section {
    background: lightpink;
    max-width: 50%;
    border-radius: 20px;
    
}

.about_container .text_section p {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 30px;
    text-align: center;
}

.about_container .image_section {
    max-width: 45%;
}

.about_container .image_section img {
    width: 100%;
    border-radius: 10px;
}

/* Services Section */
.services {
    background: var(--dark-color);
    color: var(--white-color);
    padding: 60px 20px 120px;
}

.services .service_container {
    display: flex;
    justify-content: space-between;
    gap: 120px;
    align-items: center;
    flex-wrap: wrap;
}

.section_container .services_items img {
    width: 100%;
}

.section_container .services_items {
    width: calc(100% / 3 - 120px);
}

.services_items .services_text {
    text-align: center;
}

.services_items .services_text h3 {
    margin: 12px 0;
    font-weight: 600;
    font-size: 24px;
}

.services_items .services_text p {
    font-size: 17px;
}
.services_items button {
  padding: 12px 24px;
  background-color: #007BFF;
  color: white;
  margin-top: 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.services_items button:hover {
  background-color: #0056b3; 
  transform: scale(1.05);    
}



/* Aminities Section */
.Aminities {
    background: var(--light-gray-color);
    padding: 60px 20px 120px;
}

.Aminities .Aminities_container {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    align-items: center;
    flex-wrap: wrap;
}

.Aminities_container .Aminities_items img {
    width: 100px;
    height: auto;
    object-fit: cover;
    max-width: 300px;
    margin-bottom: 5px;
}

.Aminities_container .Aminities_items {
    width: calc(100% / 4 - 40px);
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.Aminities_items .Aminities_text {
    text-align: center;
}

.Aminities_items .Aminities_text h3 {
    margin: 20px 0;
    font-size: 22px;
}

.Aminities_items .Aminities_text p {
    font-size: 17px;
}

/* Properties Section */
.Properties {
    background: var(--white-color);
    padding: 60px 20px 100px;
}

.Properties .Properties_container {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    align-items: center;
    flex-wrap: wrap;
}


.Properties_container .Properties_items  {
    width: calc(100% / 3 - 32px);
    overflow: hidden;
    border-radius: 8px;
}

.Properties .Properties_container img {
    width: 100%;
    border-radius: 8px;
    transition: transform 0.4s ease;
    
}

.Properties_container .Properties_items:hover img {
    transform: scale(0.9);
}

/* Contact Section */
.contact {
    background: url(../images/background.jpg);
    padding: 60px 20px 100px;
    background-size: cover;
    background-position: center;
}

.contact_container {
    background: rgba(0, 0, 0, 0.8);
    background-filter: blur(10px);
    color: white;
    padding: 50px 50px;
    border-radius: 15px;
    display: block;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
}

.contact_container .contact_form {
    max-width: 65%;
    width: 100%;
}

.contact_container .contact_form .field {
    margin: 20px 0;
}

.contact_container .contact_form .field label {
    display: block;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 0px;
}

.contact_container .contact_form .field input {
    width: 100%;
    height: 50px;
    padding: 0 12px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.contact_container .contact_form textarea {
    width: 100%;
    height: 200px;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    resize: vertical;
}

.contact_container .contact_form .button {
    padding: 8px 28px;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    background: var(--primary-color);
    color: var(--white-color);
    font-size: 17px;
    font-weight: 600;
    transition: all 0.4s ease;
}

.contact_container .contact_form .button:hover {
    color: var(--secondary-color);
    background: transparent;
    border-color: var(--white-color);
}

.contact_text .contact_items {
    display: flex;
    gap: 30px;
    margin: 30px 0px;
}

.contact_text .contact_items i {
    font-size: 32px;
    margin-bottom: 20px;
}

/* Footer Section */
footer {
    background: #1b1b1b;
    color: var(--white-color);
    padding: 60px 20px;
    
}

.footer_section {
    display: flex;
    justify-content: space-between;
}

.footer_section h3 {
    font-size: 22px;
    margin-bottom: 16px;
    font-weight: 600;
}

.footer_section .footer_logo a {
    display: flex;
    gap: 15px;
    align-items: center;
    color: var(--white-color);
}

.footer_section .footer_logo a img {
    max-width: 55px;
}

.footer_section .footer_logo a h2 {
    letter-spacing: 5px;
    font-weight: 600;
}

.footer_section .useful_links ul li {
    margin: 20px 0;
}

.footer_section .useful_links ul li a {
    color: var(--white-color);
    font-size: 17px;
}

.footer_section .useful_links ul li a:hover {
    text-decoration: underline;
}

.footer_section .contact_us ul li {
    margin: 20px 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer_section .contact_us ul li i {
    font-size: 25px;
}

.footer_section .contact_us ul li span {
    font-size: 17px;
}

.footer_section .follow_us i {
    font-size: 26px;
    margin-right: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.footer_section .follow_us i:hover {
    color: var(--secondary-color);
}

.copyright_container{
        padding: 20px;
        display: flex;
        justify-content: flex-end;
        margin: 0 auto;
        margin-top: 30px;
        border-top: 1px solid gray;
        padding-right: 100px;
        gap: 105px;
        flex-wrap: wrap;

}
    .copyright_container a{
        color: var(--white-color);

}
    .copyright_container a:hover{
        color: #E80505;
    }
/* Responsive Media Query code for max-width: 1024px */

@media screen and (max-width: 1024px) {
    nav {
        padding: 15px 20px;
    }

    label .menu_btn {
        display: block;
    }

    nav ul {
        display: block;
        background: var(--white-color);
        position: absolute;
        top: 75px;
        left: -100%;
        overflow-y: auto;
        width: 100%;
        height: 100vh;
        text-align: center;
        transition: all 0.15s ease;
    }

    #click:checked~ul {
        left: 0;
    }

    #click:checked~label .close_btn {
        display: block;
    }

    #click:checked~label .menu_btn {
        display: none;
    }

    nav ul li {
        display: block;
        padding: 8px 12px;
        width: 48%;
        margin: 24px auto;
    }

    nav ul li a {
        color: var(--dark-color);
    }

    .hero_container {
        flex-direction: column-reverse;
        align-items: center;
        padding-bottom: 32px;
    }

    .hero_container .image_section {
        max-width: 100%;
        text-align: center;
    }

    .hero_container .image_section img {
        max-width: 90%;
        align-items: center;
    }

    .hero_container .text_section {
        max-width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero_container .text_section p {
        max-width: 100%;
    }

    .about_container {
        flex-direction: column;
    }

    .about_container .text_section {
        max-width: 100%;
    }

    .services .service_container {
        gap: 50px;
    }

    .section_container .services_items {
        width: calc(100% / 2 - 50px);
    }

    .Aminities .Aminities_container {
        gap: 50px;
    }

    .Aminities_container .Aminities_items {
        width: calc(100% / 2 - 50px);
    }

    .Properties .Properties_container {
        justify-content: center;
    }

    .Properties_container .Properties_items {
        width: calc(100% / 2 - 50px);
    }

    .contact_container {
        flex-direction: column-reverse;
    }

    .contact_text .contact_items {
        margin: 25px 0;
    }

    .contact_container .contact_form {
        max-width: 100%;
    }

    .footer_section {
        flex-direction: column;
        gap: 24px;
    }

    .footer_section .useful_links {
        text-align: start;
    }
    .copyright_container {
        display: flex;
        justify-content: flex-start;
        text-align: center;
        gap: 16px;
    }

    .copyright_container a {
        font-size: 14px;
    }
    
}

/* Responsive Media Query code for max-width: 576px */
@media screen and (max-width: 576px) {
    .section_title {
        padding: 50px 0;
    }

    nav .nav_logo a img,
    .footer_section .footer_logo a img {
        max-width: 45px;
    }

    nav .nav_logo h2 {
        font-size: 30px;
    }

    .hero_container {
        justify-content: space-evenly;
    }

    .hero_container .text_section h2 {
        font-size: 30px;
    }

    .hero_container .text_section h3 {
        font-size: 26px;
    }

    .hero_container .image_section img {
        max-width: 80%;
    }

    .hero_container .text_section p {
        font-size: 17px;
    }

    .about_container .image_section {
        max-width: 70%;
    }

    .button {
        padding: 10px 20px !important;
        font-size: 15px !important;
    }

    .section_container .services_items,
    .why_container .why_items {
        width: 100%;
        text-align: center;
    }

    .Properties_container .Properties_items {
        flex-direction: column;
        width: 100%;
    }
    .Properties_container .Properties_items h2 {
        font-size: 20px;
        margin-top: 12px;
    }
    .Properties_container .Properties_items p {
        font-size: 16px;
        margin: 4px 0;

    .services .service_container,
    .why_us .why_container {
        gap: 70px;
    }

    .section_container .services_items img {
        max-width: 80%;
    }
}

    /* Responsive style for mobile */
@media screen and (max-width: 576px) {
    .copyright_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 20px;
        gap: 16px;
        padding-right: 0;
    }

    .copyright_container a {
        font-size: 14px;
    }